*{
    font-family: 'monospace';
    list-style: none;
    margin: 0; 
    padding: 0; 
}


header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 18vh;
    font-size: 30px;
    background-color:#335C67;
    color:#FFF3B0;

}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #E09F3E;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
}

.navbar li a{
    display: block;
    color:#9E2A2B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style: none;
  }

  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #E09F3E;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content.show {
    display: block;
  }
.article-grid{
  background-color: #9E2A2B;
}

.article-card{
    border-style: solid;
    flex-basis: calc(20% - 20px);
    width: 50%;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    position: relative; 
   
}

.article-card img{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.article-details{
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    background-color: rgba(255, 255, 255, 0.308);
    color:black;
    font-weight: 200;
    padding: 10px;
  }

  .article-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
  }

  .single-Article-page{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-right:17%;
    margin-left:17%;
    margin-top:3%;
    padding:1%;
    background-color: #FFF3B0;
    border-style: dashed;
    border-color: #9E2A2B;
  }
#article-heading{
  text-align: center;
  padding-top: 0%;
  padding-bottom: 2%;
  font-size: 28px;
  color:#9E2A2B
}

 #article-author{
  text-align: center;
  padding-bottom: 2%;
  color:#9E2A2B
 }

#article-image{
 width:38%;
 height:38%;
 margin-left:auto;
 margin-right:auto;
}

#article-body{
  text-align: center;
  margin-top: 2%;
  margin-right: 20%;
  margin-left: 20%;
  font-size: 20px;
  color:#9E2A2B
}
 
.comment-grid{
  display:flex;
  flex-wrap:wrap;
  max-height:20vh;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left:15%;
  margin-right:15%;
  overflow-y: scroll;
  border-style:solid;
  border-color: black;
}

.comment-card {
  text-align:left;
  justify-content: center;
  height: 5%;
  margin: 1%;
  padding:5%;
  background-color: #ffff;
  border-color:#9E2A2B;
  border-style: dashed
  
}

span {
  content: "\1F5A4";
}

button{
  width: 50px;
  height: 50px;
  border-radius: 2%;
}

  @media (max-width: 840px) {
    .article-card {
      flex-basis: 100%;
      max-width: 100%;
      margin: 20px 10px;
      gap:10px;
    }
    header{
      font-size: 10px;
      text-align: center;
      height: 20vh;
    }
    .navbar{
      font-size:20px;
    }
  }